{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/app/start.sh"
        ],
        "Image": "ghcr.io/polus-arcticus/kamu-bacalhau@sha256:c186b805815b7234c2c84971fda9ffac1f97c60a9aec2963c4436026cf9df9b2"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
      "outputs": [
        {
          "Name": "outputs",
          "StorageSource": "IPFS",
          "path": "/outputs"
        }
      ]
    }
  }
}
