{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/app/start.sh"
        ],
        "Image": "ghcr.io/polus-arcticus/kamu-bacalhau@sha256:a37ef1dfc9630c73818affc9b17dd16aed090ee7e201290e417649033beac6a3"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop",
      "outputs": [
        {
          "Name": "outputs",
          "StorageSource": "IPFS",
          "path": "/outputs"
        }
      ]
    }
  }
}
